{% extends  'base.html' %}
{% block content%}
<body class="text-center" >
    <main class="form-signin">
        <form action="/" method="post">
            <h1 class="h3 mb-3 fw-normal">Пожалуйста авторизуйтесь</h1>
            <div class="form-floating">
                <input  class="form-control" type="text" name="login" value='' placeholder="Логин">
            </div>
            <div class="form-floating">
                <input  class="form-control" type="password" name="password" value="" placeholder="Пароль">
            </div>
            <div class="checkbox mb-3">
                <input class="checkbox" type="checkbox" name="remember_me"><label> Запомнить меня</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        </form>
        <form action="/registration">
             <button class="w-100 btn btn-lg btn-secondary" type="submit">Зарегистрироваться</button>
        </form>
        <p class="mt-5 mb-3 text-muted">&copy;2021</p>
    </main>

</body>
{% endblock %}