{% extends  'base.html' %}
{% block content%}
<body class="center" >
    <main >
        <form action="/" method="post" class="form-signin">
            <h1 class="h1"> Пожалуйста авторизуйтесь</h1>
            <div class="form-floating">
                {{form.hidden_tag()}}
                {% for field in form if field.name not in ['csrf_token', 'remember_me', 'submit', 'registration']-%}
                     <p class="form-control"> {{field.label()}}
                    {% if field.errors%}
                        {{field (class='bad')}}
                    <span class="bad">
                        {% for e in field.errors%}
                        {{ e }}
                        {% endfor %}
                    </span>
                    {% else %}
                        {{field()}}
                    {% endif%}
                {% endfor%}
                <p> {{form.remember_me.label()}} {{form.remember_me()}}
                <p> {{form.submit ()}}
            </div>
        </form>
        <form action="/registration" style="padding-top: 125px;padding-left: 25px;">
            <p> {{form.registration ()}}
<!--             <button class="registr" type="submit">Зарегистрироваться</button>-->
        </form>
<!--        <p class="text">&copy;2021</p>-->
    </main>

</body>
{% endblock %}


