{% extends  'base.html' %}
{% block content%}
<body>
    <nav class="nav-pc">
        <h1 class="h1-pc">Личный кабинет пользователя: {{current_user.get_login()}}</h1>
            <form action="/logout">
                <button type="submit" class="b-log">Выйти</button>
            </form>
    </nav>
    <main class="m">
        <div class="d-ava">
                <h2 style="align-self:center;">Данные пользователя</h2>
                <img src="{{url_for('userava')}}" alt="avatar" width="150px" height="150px">
                <label>Имя: {{current_user.get_name()}} </label>
                <label>Фамилия: {{current_user.get_subname()}} </label>
                <label>Отчество: {{current_user.get_cognomen()}}</label>
                <label>Рост: {{current_user.get_height()}} </label>
                <label>Вес: {{current_user.get_weight()}} </label>
                <label>Возраст: {{current_user.get_age()}}</label>
                <button style="    align-self: flex-end;
    margin-right: 5px;" type="submit">Редактировать данные</button>
                <form action="{{url_for('updateava')}}" method="POST" enctype="multipart/form-data">
                    <p><input type="file" name="file"></p>
                    <p><input type="submit" value="Загрузить новую аватарку"></p>
                </form>
        </div>

        <div class="d-tab">
            <h2>История показаний</h2>
                {% for cat,msg in get_flashed_messages(True)%}
            <div class="{{cat}}" >{{msg}}</div>
                {% endfor %}
            <table class="tabl" border="1" cellpadding="2" cellspacing="2">
                <tr>
                    <th>#</th>
                    <th>Дата</th>
                    <th class="ta-r"> Значение сатурации</th>
                </tr>
                {% for data in values%}
                <tr>
                    <td>{{data.id-1}}</td>
                    <td>{{data.day}}</td>
                    <td class="ta-r">{{data.value_oks}}</td>
                </tr>
                {% endfor%}
            </table>
        </div>
        <div class="d-tab">

            <form action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
                <p><input type="file" name="file"></p>
                <input type="submit" name="file" value="Считать показания">
            </form>
            <form action="/personal_cabinet/" method="post">
                <input type="text" name="sat_value" placeholder="Значение сатурации" value="{{sat_value}}" required ><br>
                <button>Отправить показания</button>
            </form>
        </div>
    </main>
</body>
{% endblock %}



