{% extends  'base.html' %}
{% block content%}
<body class="reg">
    <h1 class="h1">Регистрация</h1>
    <h2 class="r">Заполните поля представленные ниже:</h2>
    <form action="/registration" method="post">
        {{form.hidden_tag()}}
        {% for field in form if field.name not in ['csrf_token', 'submit']-%}
                     <p class="form-control"> {{field.label()}}
                    {% if field.errors%}
                        {{field (class='bad')}}
                    <span class="bad">
                        {% for e in field.errors%}
                        {{ e }}
                        {% endfor %}
                    </span>
                    {% else %}
                        {{field()}}
                    {% endif%}
                {% endfor%}
                <p> {{form.submit ()}}
<!--        <table>-->
<!--            <tr>-->
<!--                <td> <label class="lab-reg">Логин</label></td>-->
<!--                <td><input class="form-registr" type="text" name="login" placeholder="" value="" required></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label  class="lab-reg">Пароль</label></td>-->
<!--                <td><input class="form-registr" type="password" name="psw1" placeholder="" value="" required></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label  class="lab-reg">Повторите пароль</label></td>-->
<!--                <td><input class="form-registr" type="password" name="psw2" placeholder="" value="" required></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label  class="lab-reg">Имя</label></td>-->
<!--                <td><input class="form-registr" type="text" name="name" placeholder="" value="" required></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label  class="lab-reg">Фамилия</label></td>-->
<!--                <td><input class="form-registr" type="text" name="subname" placeholder="" value="" required></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label  class="lab-reg">Отчество</label></td>-->
<!--                <td><input class="form-registr" type="text" name="cognomen" placeholder="" value="" required></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label style="">Возраст</label></td>-->
<!--                <td><input class="form-registr" type="text" name="age" placeholder="" value="" required></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label  class="lab-reg">Вес</label></td>-->
<!--                <td><input class="form-registr" type="text" name="weight" placeholder="" value="" required></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><label  class="lab-reg">Рост</label></td>-->
<!--                <td><input class="form-registr" type="text" name="height" placeholder="" value="" required></td>-->
<!--            </tr>-->
<!--        </table><br>-->
        {% for cat,msg in get_flashed_messages(True)%}
            <div class="{{cat}}" >{{msg}}</div>
        {% endfor %}
        <p class="singin">{{form.submit()}}</p>
<!--         <input  class="singin"  type="submit" value="OK">-->
    </form>

</body>
{% endblock %}

