<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
</head>
<body>
    <h1>Данные о пользователе</h1>
    <div>
        <input class="form-control" type="text"  id="floatingName" placeholder="Имя"><br>
        <input class="form-control" type="text"  id="floatingSurname" placeholder="Фамилия"><br>
        <input class="form-control" type="text"  id="floatingPatronymic" placeholder="Отчество"><br>
        <input class="form-control" type="text"  id="floatingAge" placeholder="Возраст"><br>
        <input class="form-control" type="text"  id="floatingWeight" placeholder="Вес"><br>
        <input class="form-control" type="text"  id="floatingHeight" placeholder="Рост"><br>
    </div>
    <form method="post">
        <input type="submit" value="OK">
    </form>
</body>
</html>