{% extends  'admin/base_admin.html' %}
{% block content%}
{{ super() }}
    <div style="text-align: center">
        <h1 >Admin-panel</h1>
        {% for cat,msg in get_flashed_messages(True)%}
            <div class="{{cat}}" >{{msg}}</div>
        {%endfor%}
        <form action=""  method="post" >
            <p><label>Логин:</label><input type="text" name="user"></p>
            <p><label>Пароль:</label><input type="password" name="psw"></p>
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}